
<nav class="navbar mt-2 p-4">
  <div class="container-fluid">
    <a class="navbar-brand">rails watch list</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <a href="<%= new_list_path %>" class="btn btn-primary" style="text-decoration: none;">create a new list</a>

    </form>
  </div>
</nav>
